<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- Standard out console appender -->
    <appender name="Stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d{MM/dd/yy HH:mm:ss:SSS}](%t) %-5p - %-26.26c{1} - %m%n" />
        </layout>
    </appender>

    <!-- external libraries -->
    <logger name="org.springframework">
        <level value="INFO" />
    </logger>

    <logger name="org.mortbay">
        <level value="INHERITED" />
    </logger>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="Stdout" />
    </root>
</log4j:configuration>
